@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<Library>

<div>
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tên</th>
                <th>Địa chỉ</th>
                <th></th>
                <th>Id</th>
                <th>Id</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
