@model LibraryManagementSystem.Models.AuthenticationModels.ChangePasswordModel

<div>
    <div class="title">Đổi mật khẩu</div>
    <div class="notification">Mã xác nhận đã được gửi tới email @ViewBag.MaskedEmail</div>
    <form asp-action="ChangePassword" asp-controller="Account" method="post" class="needs-validation row g-3 form-change" novalidate>
        <input asp-for="Email" hidden/>
        <div class="form-control col-12">
            <label for="validationPassword" class="form-label">Mật khẩu</label>
            <div class="input-group has-validation">
                <span class="input-group-text" id="inputGroupPrepend">*</span>
                <input type="password" class="form-control" id="validationPassword" aria-describedby="inputGroupPrepend" asp-for="NewPassword" required>
                <span asp-validation-for="NewPassword" class="invalid-feedback is-invalid"></span>
            </div>
        </div>
        <div class="form-control col-12">
            <label for="validationConfirm" class="form-label">Xác nhận mật khẩu</label>
            <div class="input-group has-validation">
                <span class="input-group-text" id="inputGroupPrepend">*</span>
                <input type="password" class="form-control" id="validationConfirm" aria-describedby="inputGroupPrepend" asp-for="ConfirmPassword" required>
                <span asp-validation-for="ConfirmPassword" class="invalid-feedback is-invalid"></span>
            </div>
        </div>
        <div class="form-control col-12">
            <label for="validationOTP" class="form-label">Mã xác nhận</label>
            <div class="input-group has-validation">
                <span class="input-group-text" id="inputGroupPrepend">OTP</span>
                <input type="text" class="form-control" id="validationOTP" aria-describedby="inputGroupPrepend" asp-for="OTP" required>
                <span asp-validation-for="OTP" class="invalid-feedback is-invalid"></span>
                <br />
                <div class="otp-validate is-invalid" style="display:none;">Mã xác nhận không khớp !</div>
            </div>
        </div>
        <div class="col-12">
            <button class="btn btn-primary" type="submit">Đổi mật khẩu</button>
        </div>
    </form>
</div>

<script>
    $(document).on("submit",".form-change", function(e){
        e.preventDefault();
        $.ajax({
            url: '/Account/CheckOTP', // Đường dẫn đến Controller trong MVC
            method: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({ email: "", OTP: $("#validationOTP").val() }),
            success: function (response) {
                if (JSON.parse(response).IsSuccess) {
                    $('.form-change').submit();
                } else {
                    $('.otp-validate').show();
                }
            },
            error: function (xhr) {
                $('.otp-validate').show();
                e.preventDefault();
            }
        });

    })
</script>