@model LibraryManagementSystem.Models.AuthenticationModels.ForgotPasswordModel

<div class="form-container">
    <div class="title">Quên mật khẩu</div>
    <form asp-action="ForgotPassword" asp-controller="Account" method="post" class="needs-validation row g-3" novalidate>
        <div class="form-control col-12">
            <label for="validationPassword" class="form-label">Email</label>
            <div class="input-group has-validation">
                <span class="input-group-text" id="inputGroupPrepend">@@</span>
                <input type="email" class="form-control" id="validationPassword" aria-describedby="inputGroupPrepend" asp-for="Email" required>
                <span asp-validation-for="Email" class="invalid-feedback is-invalid">
                </span>
            </div>
        </div>
        <div class="col-12">
            <button class="btn btn-primary" type="submit">Xác nhận</button>
        </div>
    </form>
</div>